<!DOCTYPE html>
<html>
<head>
    <title>New User</title>
</head>
<body>
    <h1>New User Form</h1>
    <form method="POST" action="/newuser">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required><br><br>
        
        <label for="employee_id">Employee ID:</label>
        <input type="text" name="employee_id" id="employee_id" required><br><br>
        
        <label for="cargo">Cargo:</label>
        <input type="text" name="cargo" id="cargo" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
